Adresar/Connected Services/KontaktService/KontaktService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adresar.WCFService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adresar.WCFService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKontakt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kontakt" nillable="true" type="tns:Kontakt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKontakt" nillable="true" type="tns:ArrayOfKontakt" />
  <xs:complexType name="Kontakt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aktivan" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobitel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Napomena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontakt" nillable="true" type="tns:Kontakt" />
</xs:schema>